<style>
    #mian_table span {width:100%}
    #mian_table td{vertical-align:middle;}
</style>

    <div class="row">
        <div class="col-lg-12" >
            <table id="mian_table" class="table table-bordered table-hover table-condensed" >
                <tr class="active">
                    <td  class="col-lg-2">ID</td>
                    <td class="col-lg-2">名称</td>
                    <td class="col-lg-2">比例</td>
                    <td class="col-lg-2">供应商</td>
                    <td class="col-lg-2">状态</td>
                    <td class="col-lg-2"><button class="btn btn-primary btn-block" ng-click="addRow()">添加</button></td>
                </tr>
                <tr ng-repeat="row in rows">
                    <td>
                        <span editable-text="row.id" e-class="form-control" e-name="id" e-form="rowform"  e-required>
                        {{ row.id || 'empty' }}
                        </span>
                    </td>
                    <td >
                            <span editable-text="row.name" e-class="form-control" e-name="name" e-form="rowform"  e-required>
                            {{ row.name || 'empty' }}
                            </span>
                    </td>

                    <td >
                            <span editable-text="row.rate" e-class="form-control" e-name="rate" e-form="rowform"  e-required>
                            {{ row.rate || 'empty' }}
                            </span>
                    </td>

                    <td >
                        <span ng-if="row.id!='BANK'" editable-select="row.sp" e-name="sp" e-form="rowform" e-ng-options="s.value as s.text for s in sps">
                          {{ row.sp_request}}
                        </span>

                        <button ng-if="row.id=='BANK'" ng-click="goBankSort()" type="submit"  class="btn btn-primary btn-sm">
                            详细设置
                        </button>
                    </td>

                    <td style="word-wrap: break-word; word-break: normal;">
                      <span editable-select="row.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in status">
                          {{ row.status |status }}
                        </span>
                    </td>

                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveRow($data,$index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                            <button type="submit"  ng-disabled="rowform.$waiting" class="btn btn-primary">
                                保存
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                取消
                            </button>

                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">编辑</button>
                            <button class="btn btn-danger" ng-click="removeRow($index)">删除</button>
                        </div>
                    </td>
                </tr>
            </table>

            </fieldset>

        </div>




</div>