<form class="form-horizontal">
    <fieldset>
        <legend>login</legend>
        <div class="form-group">
            <label for="username" class="col-lg-2 control-label">用户名</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="data.username" id="username" placeholder="用户名">
            </div>
        </div>
        <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">密码</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" ng-model="data.password" id="inputPassword" placeholder="密码">
        </div>
    </div>
        <div class="form-group">
            <label for="inputcap" class="col-lg-2 control-label">验证码</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" ng-change="checkCap()" ng-model="data.cap.value" id="inputcap" placeholder="验证码">
            </div>

            <div class="col-lg-5">
                <img ng-click="getCap()" style="cursor: pointer" ng-src="{{img}}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>