<style>
    .xianqing{list-style:none;overflow: hidden;}
    .xianqing ul{list-style:none;float:left;}
    .xianqing ul li{line-height: 40px;height:40px;border-bottom:1px #e1e1e1 dotted;}
    .xianqing-ul li{width: 300px}
</style>
<div class="modal-header">
    <h3 class="modal-title">
        确认提现处理
    </h3>
</div>
<div class="xianqing modal-body">
    <ul>
        <li><i class="glyphicon glyphicon-hand-right mar_r3 font_12 color_ccc"></i>商户编号</li>
        <li><i class="glyphicon glyphicon-hand-right mar_r3 font_12 color_ccc"></i>姓名</li>
        <li><i class="glyphicon glyphicon-hand-right mar_r3 font_12 color_ccc"></i>银行类型</li>
        <li><i class="glyphicon glyphicon-hand-right mar_r3 font_12 color_ccc"></i>银行账号</li>
    </ul>
    <ul class="xianqing-ul">
        <li>{{db.uid}}</li>
        <li>{{db.name}}</li>
        <li>{{db.bank_type}}</li>
        <li>{{db.account}}</li>
    </ul>


</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">否，返回上页</button>
    <button class="btn btn-success" type="button" ng-click="save()">是，已经结算</button>
</div>