<style>
    *{
        outline:none;
        -moz-outline:none;
    }
</style>



    <table class="table table-striped font_12">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>
                <div style="padding-top: 10px">商户id：</div>

            </td>
            <td class="center">
                <input type="text" class="form-control"  placeholder="7位商户编号">
            </td>
            <td >
                <div style="padding-top: 10px">开始时间：</div>

            </td>
            <td>
                <p class="input-group" tooltip-placement="top" >
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtFrom"
                           is-open="fromOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </td>
            <td>
                <div style="padding-top: 10px">结束时间：</div>

            </td>
            <td>
                <p class="input-group" tooltip-placement="top" >
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtTo"
                           is-open="toOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="7">
                <button type="button" class="btn btn-primary">筛选</button>
                <button type="button" class="btn btn-primary">重置</button>
            </td>
        </tr>
        </tbody>
    </table>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="20%">
            商户编号
        </th>
        <th width="20%">
            公司名称
        </th>
        <th width="20%">
            网站地址
        </th>
        <th width="20%">
            详情/操作
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows">
        <td class="center">
            {{row.uid}}
        </td>
        <td class="center">
            {{row.username}}
        </td>
        <td class="center">
            <span class="label-success label label-default">{{row.url}}</span>
        </td>
        <td class="center">
            <a href="#" class="btn btn-primary btn-xianqing"><i class="glyphicon glyphicon-zoom-in icon-white"></i> 详情/修改</a>
            <a href="#" class="btn btn-danger btn-mima"><i class="glyphicon glyphicon-th"></i>密码</a>
            <a href="#" class="btn btn-danger btn-dongjie"><i class="glyphicon glyphicon-edit icon-white"></i>冻结该商户</a>
        </td>
    </tr>





    </tbody>
</table>





<pagination total-items="page.count" ng-change="pageChanged()" direction-links="false"  items-per-page="page.pageSize" ng-model="page.pageNo" max-size="page.maxSize"  class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

