<style>
    *{
        outline:none;
        -moz-outline:none;
    }
    #mian_table td{vertical-align:middle;}
</style>



    <table class="table table-striped font_12">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td>
                <div style="padding-top: 10px">商户id：</div>

            </td>
            <td class="center">
                <input type="text" class="form-control" ng-model="uid"  placeholder="7位商户编号">
            </td>
            <td >
                <div style="padding-top: 10px">开始时间：</div>

            </td>
            <td>
                <p class="input-group" tooltip-placement="top" >
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtFrom"
                           is-open="fromOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </td>
            <td>
                <div style="padding-top: 10px">结束时间：</div>

            </td>
            <td>
                <p class="input-group" tooltip-placement="top" >
                    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dtTo"
                           is-open="toOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td colspan="7">
                <button ng-click="search()" type="button" class="btn btn-primary">筛选</button>
                <button type="button" class="btn btn-primary">重置</button>
            </td>
        </tr>
        </tbody>
    </table>
<ul class="breadcrumb alert alert-info">
    <li><i class="glyphicon glyphicon-book mar_r5"></i>
        <span>提现总额合计：</span>
        <strong style="color:#FC491E;font-size: 19px;font-weight: 400" class="ng-binding">￥{{total_fee}}元
        </strong>
    </li>
</ul>
<table id="mian_table" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="15%">
            商户编号
        </th>
        <th width="10%">
            提现金额
        </th>
        <th width="15%">
            姓名
        </th>
        <th width="15%">
            银行类型
        </th>
        <th width="15%">
            银行账号
        </th>
        <th width="20%">
            提现日期
        </th>

        <th width="40%">
            详情/操作
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rows">
        <td class="center">
            {{row.uid}}
        </td>
        <td class="center">
            {{row.total_fee}}
        </td>
        <td class="center">
            {{row.name}}
        </td>
        <td class="center">
            {{row.bank_type}}
        </td>
        <td class="center">
            {{row.account}}
        </td>
        <td class="center">
            {{row.req_time|datetime}}
        </td>

        <td class="center">

            <a ng-click="open_withdraw(row)" class="btn btn-success btn-dongjie"><i class="glyphicon glyphicon-edit icon-white"></i>处理</a>
        </td>
    </tr>





    </tbody>
</table>





<pagination total-items="page.count" ng-change="pageChanged()" direction-links="false"  items-per-page="page.pageSize" ng-model="page.pageNo" max-size="page.maxSize"  class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

